html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
}
body {
  display: flex;
  align-items: center;
  background: #ababf3;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p,
li,
input,
label,
table {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}
h2 {
  font-size: 1rem;
  font-weight: 600;
}
p {
  font-size: 0.8rem;
  font-weight: 400;
}
ul {
  list-style-type: none;
}
li {
  font-size: 0.8rem;
  font-weight: 400;
}
label,
input {
  font-size: 0.8rem;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.main-app {
  display: flex;
  width: 1200px;
  min-width: 700px;
  max-height: 100vh;
  background: white;
  margin: auto;
  box-shadow: 0 0 40px gray;
}
.hidden {
  visibility: hidden;
}
::placeholder {
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.8125rem;
}
:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.8125rem;
}
::-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.8125rem;
}
.background-dialog {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(7, 7, 7, 0.82);
}
.background-dialog #cancel-form {
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}
.background-dialog #cancel-form i {
  font-size: 2rem;
  color: white;
}
#add-order-form,
#add-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 80px;
  max-height: 80vh;
  min-height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #645da7;
}
#add-order-form h2,
#add-product-form h2 {
  font-size: 1.5rem;
  color: white;
  margin-top: 5px;
}
#add-order-form h3,
#add-product-form h3 {
  font-size: 1rem;
  color: white;
}
#add-order-form label,
#add-product-form label {
  display: block;
  position: relative;
  width: 250px;
  color: white;
  padding-bottom: 25px;
  box-sizing: border-box;
}
#add-order-form label input,
#add-product-form label input {
  width: 100%;
  padding: 2px 4px;
  text-align: left;
  outline: none;
}
#add-order-form label[data-req]::before,
#add-product-form label[data-req]::before {
  content: '*';
  position: absolute;
  left: -20px;
  color: red;
  font-size: 1rem;
}
#add-order-form #add-order-submit,
#add-product-form #add-order-submit {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
}
#add-product-form {
  justify-content: space-around;
}
#add-product-form #add-product-submit {
  padding: 10px 20px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}
.order-full-info {
  width: calc(100% - 300px);
  max-height: 100vh;
}
.order-full-info header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: #e0ecff;
  border-bottom: 1px solid #afafaf;
  box-sizing: border-box;
}
.order-full-info .main-order {
  height: calc(100vh - 70px);
  overflow: scroll;
  overflow-x: hidden;
  background-color: #f4f4f4;
}
.order-full-info .order-info {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  min-height: 215px;
  background-color: #e0ecff;
  border-bottom: 2px solid #afafaf;
  padding: 25px 30px 0 30px;
  box-sizing: border-box;
}
.order-full-info .order-info .main-order-info {
  width: 50%;
}
.order-full-info .order-info .main-order-info h2 {
  font-size: 1.2rem;
  margin-bottom: 16px;
}
.order-full-info .order-info .main-order-info li {
  margin-bottom: 5px;
}
.order-full-info .order-info .main-order-info li:last-of-type {
  margin-bottom: 30px;
}
.order-full-info .order-info .main-order-info .choose-addition-order-info {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 7px;
}
.order-full-info .order-info .main-order-info .choose-addition-order-info .icon-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
  border: 1px solid #2e2399;
  box-sizing: border-box;
  margin-right: 30px;
  cursor: pointer;
}
.order-full-info .order-info .main-order-info .choose-addition-order-info .icon-choice i {
  color: #2e2399;
}
.order-full-info .order-info .main-order-info .choose-addition-order-info .icon-choice.chosen-action {
  background-color: #2e2399;
}
.order-full-info .order-info .main-order-info .choose-addition-order-info .icon-choice.chosen-action i {
  color: white;
}
.order-full-info .order-info .main-order-info .choose-addition-order-info .icon-choice.chosen-action::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2e2399;
}
.order-full-info .order-info .price-order-info {
  width: 50%;
}
.order-full-info .order-info .price-order-info p {
  float: right;
  clear: right;
}
.order-full-info .order-info .price-order-info p:first-of-type {
  font-size: 1.2rem;
  line-height: 1;
}
.order-full-info .order-info .price-order-info p:last-of-type {
  font-size: 0.7rem;
}
.order-full-info .addition-order-info {
  position: relative;
  width: 100%;
  min-height: 180px;
  background-color: white;
  padding: 15px 10px;
  border-bottom: 2px solid #afafaf;
  box-sizing: border-box;
}
.order-full-info .addition-order-info h2 {
  padding-left: 20px;
  margin-bottom: 10px;
}
.order-full-info .addition-order-info form {
  display: inline-block;
  margin: 10px 0 10px 20%;
}
.order-full-info .addition-order-info form label {
  display: block;
  text-align: right;
}
.order-full-info .addition-order-info form input {
  text-align: left;
  border: none;
  margin-left: 10px;
}
.order-full-info .addition-order-info form input[type="button"],
.order-full-info .addition-order-info form input[type="submit"] {
  width: 80px;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.order-full-info .addition-order-info form input.active {
  background-color: rgba(224, 236, 255, 0.7);
}
.order-full-info .addition-order-info form #map {
  position: absolute;
  top: 50px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 50px);
}
.order-full-info #order-chosen-info[data-info="2"] {
  height: 300px;
}
.order-full-info .order-items {
  width: 100%;
  background-color: #f4f4f4;
  padding: 15px 10px;
  box-sizing: border-box;
}
.order-full-info .order-items .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.order-full-info .order-items .table-header h2 {
  padding-left: 20px;
}
.order-full-info .order-items .table-header i {
  padding-right: 20px;
  cursor: pointer;
}
.order-full-info .order-items .search-order {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
}
.order-full-info .order-items .search-order input {
  width: 100%;
  padding: 2px 50px 2px 5px;
  font-style: italic;
  outline: none;
}
.order-full-info .order-items .search-order .actions {
  position: absolute;
  right: 10px;
}
.order-full-info .order-items .search-order .actions i {
  color: #2e2399;
  font-size: 0.8125rem;
  margin-left: 10px;
  cursor: pointer;
}
.order-full-info .order-items table {
  width: 100%;
  border-top: 1px solid gray;
  box-sizing: border-box;
  border-collapse: collapse;
}
.order-full-info .order-items table tr {
  border-bottom: 1px solid #d4d4d4;
  font-size: 0.8rem;
}
.order-full-info .order-items table tr th {
  background-color: linear-gradient(to bottom, #e2e2e2, #838282);
  font-weight: normal;
  padding: 3px;
}
.order-full-info .order-items table tr th i {
  font-size: 1rem;
  padding: 5px;
  opacity: 0.3;
  cursor: pointer;
}
.order-full-info .order-items table tr th i.sort-increase {
  opacity: 1;
  color: green;
}
.order-full-info .order-items table tr th i.sort-decrease {
  opacity: 1;
  color: red;
}
.order-full-info .order-items table tr td {
  background-color: white;
}
.order-full-info .order-items table tr td h3 {
  font-size: 0.8rem;
}
.order-full-info .order-items table tr td i {
  cursor: pointer;
}
.order-full-info .order-items table tr .item-product-head,
.order-full-info .order-items table tr .item-product {
  width: 25%;
  text-align: left;
  padding-left: 10px;
}
.order-full-info .order-items table tr .item-price-head,
.order-full-info .order-items table tr .item-price {
  text-align: center;
}
.order-full-info .order-items table tr .item-quantity-head,
.order-full-info .order-items table tr .item-quantity {
  width: 10%;
  text-align: right;
}
.order-full-info .order-items table tr .item-total-head,
.order-full-info .order-items table tr .item-total {
  width: 20%;
  text-align: right;
}
.order-full-info .order-items table tr .item-trash-head,
.order-full-info .order-items table tr .item-trash {
  text-align: center;
}
.order-full-info .order-items table tr .item-trash {
  cursor: pointer;
}
.order-full-info footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #10052d;
}
.order-full-info footer i {
  font-size: 0.8125rem;
  color: gray;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.order-short-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  background: white;
  border-right: 1px solid #afafaf;
  box-sizing: border-box;
}
.order-short-info header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 30px;
}
.order-short-info header i {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #2e2399;
}
.order-short-info .search-order {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
}
.order-short-info .search-order input {
  width: 100%;
  padding: 2px 50px 2px 5px;
  font-style: italic;
  outline: none;
}
.order-short-info .search-order .actions {
  position: absolute;
  right: 10px;
}
.order-short-info .search-order .actions i {
  color: #2e2399;
  font-size: 0.8125rem;
  margin-left: 10px;
  cursor: pointer;
}
.order-short-info .orders-list {
  width: 100%;
  max-height: calc(100vh - 100px);
  min-height: calc(100vh - 100px);
  overflow: scroll;
  overflow-x: hidden;
}
.order-short-info .orders-list .order-single {
  display: flex;
  height: 100px;
  padding: 15px 10px;
  border-bottom: 1px solid #afafaf;
  box-sizing: border-box;
  cursor: pointer;
}
.order-short-info .orders-list .order-single p {
  margin-bottom: 5px;
}
.order-short-info .orders-list .order-single .basic-info {
  width: 80%;
}
.order-short-info .orders-list .order-single .basic-info h2 {
  margin-bottom: 7px;
}
.order-short-info .orders-list .order-single .time-info p {
  float: right;
  text-align: right;
}
.order-short-info .orders-list .order-single .time-info p:first-of-type {
  font-size: 1.3rem;
  font-weight: 600;
}
.order-short-info .orders-list .order-single .time-info .is-in-time {
  color: #01b81c;
}
.order-short-info .orders-list .order-single .time-info .is-urgent {
  color: #af3700;
}
.order-short-info .orders-list .order-single:last-of-type {
  border-bottom: none;
}
.order-short-info .orders-list .order-single.chosen-order {
  background: #e0ecff;
}
.order-short-info footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #10052d;
  border-right: 1px solid #afafaf;
  box-sizing: border-box;
}
.order-short-info footer i {
  font-size: 0.8125rem;
  margin-left: 30px;
  color: gray;
  cursor: pointer;
}
.order-short-info footer i:last-of-type {
  margin-right: 10px;
}
