@background: linear-gradient(to bottom, #96bbf7, #f4f8ff);
@chosen: #e0ecff;
@time: #01b81c;
@urgent: #af3700;
@icons: #2e2399;
@items: #f4f4f4;
@th: linear-gradient(to bottom, #e2e2e2, #838282);
@footer: #10052d;

